{:nettyThreads 0,
 :threads 0,
 :codec nil,
 :singleServerConfig
 {:connectionMinimumIdleSize 10,
  :address "redis://127.0.0.1:6379",
  :connectionPoolSize 64,
  :password nil,
  :subscriptionConnectionMinimumIdleSize 1,
  :retryInterval 1500,
  :idleConnectionTimeout 10000,
  :subscriptionsPerConnection 5,
  :retryAttempts 3,
  :database 0,
  :subscriptionConnectionPoolSize 50,
  :connectTimeout 10000,
  :timeout 3000,
  :dnsMonitoringInterval 5000,
  :clientName nil}}
